body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:298px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:298px;
}
#u1 {
  position:absolute;
  left:2px;
  top:141px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:350px;
  top:90px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u4 {
  position:absolute;
  left:2px;
  top:92px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:800px;
  top:173px;
  width:20px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:830px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:860px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u12 {
  position:absolute;
  left:2px;
  top:92px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:800px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:830px;
  top:173px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:860px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:200px;
}
#u20 {
  position:absolute;
  left:2px;
  top:92px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:800px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:830px;
  top:173px;
  width:20px;
  height:20px;
  opacity:0.5;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:860px;
  top:173px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:298px;
  width:1562px;
  height:562px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:562px;
}
#u28 {
  position:absolute;
  left:2px;
  top:273px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
