body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:1798px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:1798px;
}
#u1 {
  position:absolute;
  left:2px;
  top:891px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1570px;
  top:40px;
  width:490px;
  height:0px;
}
#u2_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:504px;
  height:20px;
}
#u3 {
  position:absolute;
  left:195px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
