body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2168px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2168px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1076px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1270px;
  top:405px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1280px;
  top:405px;
  width:320px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1610px;
  top:385px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:690px;
  top:640px;
  width:110px;
  height:40px;
  opacity:0.300000011920929;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
