body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:975px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:975px;
}
#u1 {
  position:absolute;
  left:2px;
  top:480px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1310px;
  top:70px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1320px;
  top:70px;
  width:200px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1530px;
  top:60px;
  width:210px;
  height:40px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1320px;
  top:30px;
  width:10px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1330px;
  top:30px;
  width:200px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u10 {
  position:absolute;
  left:1540px;
  top:20px;
  width:210px;
  height:40px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1020px;
  top:110px;
  width:300px;
  height:50px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:770px;
  top:130px;
  width:10px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:780px;
  top:130px;
  width:240px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u17 {
  position:absolute;
  left:800px;
  top:560px;
  width:460px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:880px;
  top:600px;
  width:80px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:990px;
  top:600px;
  width:80px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:1235px;
  top:584px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1245px;
  top:584px;
  width:200px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u24 {
  position:absolute;
  left:1455px;
  top:574px;
  width:245px;
  height:166px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:166px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  word-wrap:break-word;
}
