body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2131px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2131px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1058px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:1410px;
  width:1020px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:520px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
