body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:-22px;
  width:518px;
  height:692px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:692px;
}
#u1 {
  position:absolute;
  left:2px;
  top:338px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:440px;
  top:25px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:450px;
  top:25px;
  width:660px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1120px;
  top:15px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:475px;
  top:465px;
  width:10px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:485px;
  top:465px;
  width:590px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u10 {
  position:absolute;
  left:1085px;
  top:450px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:475px;
  top:570px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:485px;
  top:570px;
  width:590px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u15 {
  position:absolute;
  left:1085px;
  top:555px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:530px;
  width:470px;
  height:80px;
  opacity:0.300000011920929;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:80px;
}
#u18 {
  position:absolute;
  left:2px;
  top:32px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
