body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1562px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2039px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2039px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1012px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:318px;
  top:375px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:360px;
  width:200px;
  height:60px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:320px;
  top:377px;
  width:-90px;
  height:0px;
}
#u6_seg0 {
  position:absolute;
  left:-94px;
  top:-10px;
  width:104px;
  height:20px;
}
#u7 {
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:550px;
  top:710px;
  width:730px;
  height:810px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:810px;
}
#u9 {
  position:absolute;
  left:2px;
  top:397px;
  width:726px;
  visibility:hidden;
  word-wrap:break-word;
}
