body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:490px;
  top:288px;
  width:1434px;
  height:552px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1434px;
  height:552px;
}
#u1 {
  position:absolute;
  left:2px;
  top:268px;
  width:1430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1680px;
  top:648px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1690px;
  top:648px;
  width:200px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u5 {
  position:absolute;
  left:1900px;
  top:638px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1446px;
  top:444px;
  width:194px;
  height:24px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1449px;
  top:398px;
  width:100px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:1680px;
  top:321px;
  width:95px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:1668px;
  top:288px;
  width:170px;
  height:33px;
  font-size:28px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1775px;
  top:331px;
  width:10px;
  height:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1785px;
  top:331px;
  width:200px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u18 {
  position:absolute;
  left:1995px;
  top:321px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1449px;
  top:444px;
  width:261px;
  height:34px;
  opacity:0.300000011920929;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1650px;
  top:454px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1660px;
  top:454px;
  width:200px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1860px;
  top:444px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1640px;
  top:754px;
  width:100px;
  height:34px;
  opacity:0.300000011920929;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1705px;
  top:764px;
  width:10px;
  height:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1715px;
  top:764px;
  width:200px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u32 {
  position:absolute;
  left:1925px;
  top:754px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:760px;
  top:405px;
  width:10px;
  height:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:560px;
  top:405px;
  width:200px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u37 {
  position:absolute;
  left:345px;
  top:366px;
  width:215px;
  height:374px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:374px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1449px;
  top:422px;
  width:166px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:24px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
