body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:514px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:514px;
}
#u1 {
  position:absolute;
  left:2px;
  top:249px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:216px;
  width:200px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
}
#u4 {
  position:absolute;
  left:2px;
  top:9px;
  width:256px;
  word-wrap:break-word;
}
#u5 {
  position:fixed;
  left:50%;
  margin-left:-130px;
  bottom:0px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:39px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:5px;
  width:80px;
  height:30px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:140px;
  width:70px;
  height:66px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u11 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:140px;
  width:210px;
  height:48px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:200px;
  top:172px;
  width:70px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:322px;
  width:200px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u17 {
  position:absolute;
  left:10px;
  top:246px;
  width:70px;
  height:66px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u18 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:80px;
  top:246px;
  width:210px;
  height:48px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:200px;
  top:278px;
  width:70px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:40px;
  top:129px;
  width:200px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u24 {
  position:absolute;
  left:10px;
  top:53px;
  width:70px;
  height:66px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u25 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:53px;
  width:210px;
  height:48px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:200px;
  top:85px;
  width:70px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:370px;
  width:70px;
  height:66px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:66px;
}
#u31 {
  position:absolute;
  left:2px;
  top:25px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:80px;
  top:370px;
  width:210px;
  height:48px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:200px;
  top:402px;
  width:70px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
