body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:329px;
  top:0px;
  width:1562px;
  height:2699px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1562px;
  height:2699px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1342px;
  width:1558px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:630px;
  top:150px;
  width:10px;
  height:10px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:290px;
  top:150px;
  width:340px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u5 {
  position:absolute;
  left:60px;
  top:98px;
  width:230px;
  height:132px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:132px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:610px;
  top:2116px;
  width:10px;
  height:10px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:270px;
  top:2116px;
  width:340px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u10 {
  position:absolute;
  left:60px;
  top:2090px;
  width:210px;
  height:136px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:136px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1600px;
  top:2100px;
  width:10px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1610px;
  top:2100px;
  width:340px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u15 {
  position:absolute;
  left:1960px;
  top:2100px;
  width:210px;
  height:136px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:136px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:630px;
  top:1720px;
  width:10px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:290px;
  top:1717px;
  width:340px;
  height:10px;
  -webkit-transform:rotate(181deg);
  -moz-transform:rotate(181deg);
  -ms-transform:rotate(181deg);
  transform:rotate(181deg);
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u20 {
  position:absolute;
  left:80px;
  top:1670px;
  width:210px;
  height:136px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:136px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1480px;
  top:1754px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1490px;
  top:1754px;
  width:340px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u25 {
  position:absolute;
  left:1830px;
  top:1754px;
  width:320px;
  height:186px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:186px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1610px;
  top:120px;
  width:105px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:88px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:105px;
  height:1px;
}
#u28 {
  position:absolute;
  left:1740px;
  top:110px;
  width:600px;
  height:75px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:75px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:600px;
  top:630px;
  width:1040px;
  height:250px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:250px;
}
#u31 {
  position:absolute;
  left:2px;
  top:117px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1580px;
  top:730px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1590px;
  top:730px;
  width:200px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u35 {
  position:absolute;
  left:1800px;
  top:720px;
  width:600px;
  height:138px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:138px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1535px;
  top:98px;
  width:100px;
  height:55px;
  opacity:0.300000011920929;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1355px;
  top:960px;
  width:255px;
  height:230px;
  opacity:0.300000011920929;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:230px;
}
#u40 {
  position:absolute;
  left:2px;
  top:107px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1580px;
  top:1000px;
  width:10px;
  height:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1590px;
  top:1000px;
  width:200px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u44 {
  position:absolute;
  left:1800px;
  top:990px;
  width:600px;
  height:138px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:138px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1390px;
  top:1740px;
  width:165px;
  height:40px;
  opacity:0.300000011920929;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1600px;
  top:120px;
  width:10px;
  height:10px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:620px;
  top:540px;
  width:10px;
  height:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:280px;
  top:540px;
  width:340px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:323px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:340px;
  height:1px;
}
#u53 {
  position:absolute;
  left:50px;
  top:488px;
  width:230px;
  height:182px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:182px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
